// some compass and custom helpers for starting out
@import "_global-config.scss";
@import "body";

body{
    font-size : 16px;
}

*{ @include border-box; }

.chart-interface{
    @include position(relative, block, 100%);
    float : left;
    padding : 10px;
    @include proto($blue);

    .input{
        @include position(relative, block, 100%);
        float : left;
        min-height : 30px;
        padding : 4px;
        @include proto($green);
        &:before{ content : 'chart-input'; color : #fff; }

        .series-item .label{
            @include opacity(0.5);
        }
    }
    .output{
        @include position(relative, block, 100%);
        float : left;
        min-height : 30px;
        padding : 4px;
        @include proto($orange);
        &:before{ content : 'chart-output'; color : #fff; }
    }
}


.dataSet-container{
    @include position(relative, block, 100%);
    float : left;
    clear : both;

    $series-name-size : 120px;
    $dataSet-width    : 140px;

    ul.dataSet{
        @include resetList;
        @include position(relative, block, 100%);
        float : left;
        margin : 0;
        padding : 0 0 0 $series-name-size;
        white-space : nowrap;
        overflow-y : hidden; 
        overflow-x : scroll; 

        li.dataSet_item{
            @include position(relative, inline-block, $dataSet-width);
            padding : 0px;

            .caption{
                @include position(relative, block, 80%);
                float : left;
                left  : 10%;
                min-height: 20px;
                margin-bottom : $grid;
                @include proto(3);

                &:before{
                    @include position(absolute, block);
                    content : 'caption';
                    margin : 2px;
                    color : #fff;
                }
            }

            .series-container{
                @include position(relative, block);
                float : left;

                ul.series{
                    @include resetList;
                    @include position(relative, block, 100%);
                    float : left;
                    margin : 0;
                    padding : 0;

                    li.series_item{
                        @include position(relative, block, 100%);
                        float : left;
                        margin-bottom : $grid;

                        .name{
                            // don't display the name of the series
                            // for all series items
                            display: none;
                        }

                        .value{
                            @include position(relative, block, 100%);
                            float : left;
                        }
                    }
                }
            }

            // only display the series name once
            &:first-child .series-container
              .series:first-child .series_item .name{
                @include position(absolute, block, $series-name-size - $grid);
                float : left;
                min-height: 20px;
                @include proto(2);
                left : -$series-name-size;

                &:before{
                    @include position(absolute, block);
                    content : 'series name';
                    margin : 2px;
                    color : #fff;
                }
            }
        }
    }
}