// some compass and custom helpers for starting out
@import "_global-config.scss";
@import "body";

body{
    font-size : 16px;
}

*{ @include border-box; }

.chart-interface{
    @include position(relative, block, 100%);
    padding : 10px $grid;
    margin : 0 auto;
    max-width : 800px;

    .input{
        @include position(relative, block, 100%);
        float : left;
        clear : both;
        min-height : 30px;
        margin-bottom : $grid * 2;
        background-color : $green;
        &:before{
            @include position(absolute, block);
            top : 0;
            left : 0;
            padding : 3px;
            content : 'chart-input';
            color : #333;
            background-color : rgba(#fff, 0.5);
        }
    }
    .output{
        @include position(relative, block, 100%);
        float : left;
        clear : both;
        min-height : 30px;
        @include proto($yellow);
        &:before{
            @include position(absolute, block);
            top : 0;
            left : 0;
            padding : 3px;
            content : 'chart-output';
            color : #333;
            background-color : rgba(#fff, 0.5);
        }
    }
}


.dataSet-container{
    @include position(relative, block, 100%);
    float : left;
    clear : both;

    $series-name-size : 120px;
    $dataSet-width    : 100px;

    ul.dataSet{
        @include resetList;
        @include position(relative, block, 100%);
        float : left;
        margin : 0;
        padding : 0 0 0 $series-name-size;
        white-space : nowrap;
        overflow-y : hidden; 
        overflow-x : scroll; 

        li.dataSet_item{
            @include position(relative, inline-block, $dataSet-width);
            padding : 0px;

            .caption{
                @include position(relative, block, $dataSet-width - $grid);
                float : left;
                left  : $grid / 2;
                min-height: 20px;
                margin-top    : $grid;
                margin-bottom : $grid / 2;
                padding : 2px;

                font-size : 13px;
                color : #fff;
                text-align : center;

                @include proto(3);
            }

            .series-container{
                @include position(relative, block);
                float : left;

                ul.series{
                    @include resetList;
                    @include position(relative, block, 100%);
                    float : left;
                    margin : 0;
                    padding : 0;

                    li.series_item{
                        @include position(relative, block, 100%);
                        float : left;
                        margin-bottom : $grid;

                        .name{
                            // don't display the name of the series
                            // for all series items
                            display: none;
                        }

                        .value{
                            @include position(relative, block, 100%);
                            float : left;
                        }
                    }
                }
            }

            // only display the series name once
            &:first-child .series-container
              .series:first-child .series_item .name{
                @include position(absolute, block, $series-name-size - $grid);
                float : left;
                min-height: 20px;
                @include proto(4);
                left : -$series-name-size;

                padding : 2px 4px 0;
                color : #fff;
                text-align : right;
            }
        }
    }
}