@import "config";

.input{
    @include position(relative, block, 100%);
    float : left;
    clear : both;
    min-height : 30px;
    margin-bottom : $grid * 3;

    background-color : #eee;
    @include box-shadow(0px 0px 3px rgba(#000, 0.2));

    @include box-shadow(
        0px 1px 3px rgba(#000, 0.2),
        0px 4px 10px rgba(#000, 0.1)
    );
}

.dataSet-input{
    @include position(relative, block, 100%);
    float : left;
    clear : both;

    $series_item-height : 28px;

    ul.dataSet{
        @include resetList;
        @include position(relative, block, 100%);
        float : left;
        margin : 0;
        padding : 0 0 $grid $series-name-size;
        white-space : nowrap;
        overflow-y : hidden; 
        overflow-x : scroll;

        li.dataSet_item{
            @include position(relative, inline-block, $dataSet_item-width);
            padding : 0px;

            .caption{
                @include position(relative, block, $dataSet_item-width - $grid);
                float : left;
                left  : $grid / 2;
                min-height: 20px;
                margin-top    : $grid;
                margin-bottom : $grid / 2;
                padding : 2px;

                font-size : 13px;
                color : #999;
                text-align : center;
            }

            .series-container{
                @include position(relative, block);
                float : left;

                ul.series{
                    @include resetList;
                    @include position(relative, block, 100%);
                    float : left;
                    margin : 0;
                    padding : 0;

                    li.series_item{
                        @include position(relative, block, 100%);
                        float : left;
                        margin-bottom : $grid / 2;

                        .name{
                            // don't display the name of the series
                            // for all series items
                            display: none;
                        }

                        .value{
                            @include position(relative, block, 96%, $series_item-height);
                            float : left;
                            left : 2%;
                            padding : 3px 8px;

                            border : none;
                            font-size   : 16px;
                            line-height : 16px;
                            color : #555;
                            text-align : right;

                            background-color : #fff;
                            @include box-shadow(
                                inset 0px 0px 2px rgba(#000, 0.1),
                                inset 1px 0px 2px rgba(#000, 0.2)
                            );
                        }
                    }
                }
            }

            // only display the series name once
            &:first-child .series-container
              .series:first-child .series_item{
                .name{
                    z-index : 1;
                    @include position(absolute, block, $series-name-size - ($grid / 2), $series_item-height);
                    float : left;
                    left : -$series-name-size;

                    padding : 0px 8px 0;
                    color : #fff;
                    font-size : 15px;
                    line-height : $series_item-height;
                    text-align : right;
                    text-shadow : 1px 1px 0px rgba(#000, 0.2);

                    &:before{
                        z-index : -1;
                        @include position(absolute, block, 100%, 100%);
                        top  : 0;
                        left : 0;
                        content : ' ';

                        @include opacity(0.9);
                        border-color : #bbb;
                        border-left : 1px solid #bbb;
                        @include background-image(
                            linear-gradient(left, rgba(#777, 1), #999 30%)
                        );
                    }
                }

                &:nth-child(1) .name:before{
                    border-color : $red-light;
                    //background-color : $red;
                    @include background-image(
                        linear-gradient(left, rgba($red-dark, 1), $red 30%)
                    );
                }
                &:nth-child(2) .name:before{
                    border-color : $blue-light;
                    @include background-image(
                        linear-gradient(left, rgba($blue-dark, 1), $blue 30%)
                    );
                }
                &:nth-child(3) .name:before{
                    border-color : $green-light;
                    @include background-image(
                        linear-gradient(left, rgba($green-dark, 1), $green 30%)
                    );
                }
                &:nth-child(4) .name:before{
                    border-color : $orange-light;
                    @include background-image(
                        linear-gradient(left, rgba($orange-dark, 1), $orange 30%)
                    );
                }
            }
        }
    }
}
