@import "config";

.output{
    @include position(relative, block, 100%);
    float : left;
    clear : both;
    min-height : 30px;
    background-color : #fff;
    @include box-shadow(
        0px 0px 2px rgba(#000, 0.14)
    );
}

.dataSet-output{
    @include position(relative, block, 100%);
    float : left;
    clear : both;
    overflow : hidden;
    overflow-y : hidden; 
    overflow-x : scroll;
    padding : ($grid * 1.5) 0;

    $dataSet-height : 300px;
    $caption-height : 20px;
    $chart-text-color   : #777;
    $chart-border-color : #999;

    $number-area-size : $series-name-size;

    .numbers{
        z-index : 1;
        @include position(absolute, block, 100%, $dataSet-height - ($grid * 1.5));
        top   : $caption-height;
        left  : 0px;
        color : #fff;
        overflow : hidden;

        .number{
            @include isAnimated;
            @include position(absolute, block, 100%, 20px);
            top     : 0;
            left    : 0px;
            padding : 0;

            color : $chart-text-color;
            font-size   : 13px;
            line-height : 20px;
            text-align  : right;

            &:before{
                @include position(absolute, block, $grid, 50%);
                top   : 50%;
                left  : $number-area-size - $grid;
                content : ' ';
                //border-left : 1px solid $chart-border-color;
                border-top : 1px solid $chart-border-color;
                //border-right : 1px solid $chart-border-color;
            }

            &:after{
                @include position(absolute, block, 2000px, 50%);
                top  : 50%;
                left : $number-area-size;
                content : ' ';
                //border-left : 1px solid $chart-border-color;
                border-top : 1px solid lighten($chart-border-color, 24%);
                //border-right : 1px solid $chart-border-color;
            }

            &.min:after{
                border-color : $chart-border-color;
            }

            .value{
                width : $number-area-size;
                padding-right : ($grid * 1.7);
                @include transform-origin(100%, 50%);
                @include transform(translateX(0px) translateY(0px));
                @include transition(
                    opacity ease-out 0.25s 0.05s,
                    transform ease-out 0.3s
                );

                &.updated{
                    @include opacity(0);
                    @include transform(scale(0.5) translateX(10px));
                    @include transition(
                        opacity ease-in 0.1s,
                        transform ease-in 0.2s
                    );
                }
            }
        }
    }

    ul.dataSet{
        z-index : 2;
        @include position(relative, block, 100%, $dataSet-height);
        float : left;
        clear : both;
        padding-left : $number-area-size;

        @include resetList;
        margin : 0;

        white-space : nowrap;

        li.dataSet_item{
            @include position(relative, inline-block, $dataSet_item-width, $dataSet-height);

            .caption{
                z-index : 4;
                @include position(absolute, block, 100%, 20px);
                bottom : 0;
                left : 0;

                font-size : 13px;
                line-height: 20px;
                color : $chart-text-color;
                text-align : center;

                background-color : #fff;

                &:after{
                    @include position(absolute, block, 100%, 50%);
                    top  : 0;
                    left : 0;
                    content : ' ';
                    border-left : 1px solid $chart-border-color;
                    border-top : 1px solid $chart-border-color;
                    border-right : 1px solid $chart-border-color;
                }
            }

            .series-container{
                z-index : 2;
                @include position(absolute, block, 100%, 100%);
                top : 0;
                left : 0;

                ul.series{
                    @include resetList;
                    @include position(absolute, block, 100%, 100%);
                    bottom : 0;
                    left : 0;
                    margin : 0;
                    padding : ($grid * 1.4) 15% $caption-height 15%;

                    li.series_item{
                        @include position(relative, block, 50%, 100%);
                        float : left;

                        .name{
                            // don't display the name of the series
                            // for all series items
                            display: none;
                        }

                        .value{
                            @include isAnimated;
                            @include position(absolute, block, 100%, 100%);
                            bottom : 0;
                            text-align : center;
                            font-size  : 10px;
                            color : rgba(#fff, 0.8);

                            @include transition(
                                height $ease-in-out-quart 0.4s 0.1s
                            );

                            @include box-shadow(
                                2px 2px 1px 0px rgba(#000, 0.1),
                                2px 2px 10px 0px rgba(#000, 0.16)
                            );
                            //@include border-radius(16px 2px 0px 0px, 3px 3px 0px 0px);

                            background-color : #bbb;
                            border-top  : 1px solid rgba(#eee, 0.4);
                            border-left : 1px solid rgba(#eee, 0.4);

                            .handle{
                                z-index : 3;
                                @include position(absolute, block, 90%, 12px);
                                top  : -16px;
                                left : 5%;
                                float : left;
                                background-color : #fafafa;
                                border        : 1px solid rgba(#000, 0.06);
                                border-left   : 1px solid rgba(#000, 0.08);
                                border-right  : 1px solid rgba(#000, 0.24);
                                border-bottom : 1px solid rgba(#000, 0.24);
                                //@include opacity(0.9);

                                &:after{
                                    @include position(absolute, block, auto, 24px);
                                    min-width : 60px;
                                    top : -10px;
                                    right : 100%;
                                    margin-right : 14px;
                                    padding : 0 8px;

                                    background-color : rgba(#fff, 0.92);
                                    border        : 2px solid rgba(#000, 0.06);
                                    border-left   : 2px solid rgba(#000, 0.09);
                                    border-right  : 2px solid rgba(#000, 0.18);
                                    border-bottom : 2px solid rgba(#000, 0.24);

                                    content : 'value';
                                    color : #777;
                                    font-size   : 18px;
                                    line-height : 23px;

                                    @include opacity(0);
                                }
                            }

                            &.is-touched{
                                .handle{
                                    &:after{
                                        @include opacity(1);
                                    }
                                }
                            }
                        }

                        &:nth-child(1) .value{
                            border-color : rgba($red-light, 0.4);
                            background-color : $red;
                        }
                        &:nth-child(2) .value{
                            border-color : rgba($blue-light, 0.4);
                            background-color : $blue;
                        }
                        &:nth-child(3) .value{
                            border-color : rgba($green-light, 0.4);
                            background-color : $green;
                        }
                        &:nth-child(4) .value{
                            border-color : rgba($orange-light, 0.4);
                            background-color : $orange;
                        }
                    }
                }
            }

            &:first-child .series-container:after{
                z-index : -1;
                @include position(absolute, block, 100%, 100%);
                bottom  : 0;
                left : 0;
                content : ' ';
                border-left : 1px solid $chart-border-color;
            }

            // only display the series name once
            &:first-child .series-container
              .series:first-child .series_item .name{
                @include position(absolute, none);
                top   : 0;
                right : 0;
                min-height: 20px;
                @include proto(4);

                padding : 2px 4px 0;
                color : #fff;
                text-align : right;
            }
        }
    }
}