@import "config";

.chart-interface{
    @include position(relative, block, 100%);
    padding : 10px $grid;
    margin : 0 auto;
    max-width : 560px;
}

@import "chart-interface/input";
@import "chart-interface/output";