.chart-interface
    .input
        .input-container(data-hook="input-container")
    .output
        .output-container(data-hook="output-container") 
    .explanation
        p
            | Touch-Charts created with ampersandjs, scss & hammerjs.<br>Find the source code on Github<br><a href="https://github.com/stoikerty/ampersand-touch-charts">https://github.com/stoikerty/ampersand-touch-charts</a>
        p
            | Jorge Antunes<br><a href="https://twitter.com/stoikerty">@stoikerty</a>