.dataSet-output
    .scale
        .numbers
            .number.max(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number.min(data-hook="scale-null")
    ul.dataSet(data-hook="dataSet")