.dataSet-output
    .scale
        .numbers
            .number.max(data-hook="scale-number scale-number-max")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number(data-hook="scale-number")
            .number.min(data-hook="scale-number scale-number-min")
            .number(data-hook="scale-number")
    ul.dataSet(data-hook="dataSet")