body
    .chart-input
        ul.title
            input placeholder="5 inch gloss" maxlength="100"
            input placeholder="5 inch lustre" maxlength="100"
            input placeholder="6 inch gloss" maxlength="100"
            input placeholder="6 inch lustre" maxlength="100"
        ul.series data-label="Series A"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
        ul.series data-label="Series B"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
            input placeholder="" maxlength="100"
    .chart-output
        /.labels
        .bars
            .label
                | 5 inch gloss
            .series
            .series